let num = 10.3;
num += 10;
num = num ** 2;

let secnum = num // 2;
secnum++;

let loop = fn(z) {
  while(z <= 1000){
    if (z == 2){
      break;
    }
    continue;
  }
};
let result = add(num, secnum);

let name = "Erk" + string(result);
